#!/usr/bin/env bash

# set GIT_ROOT to root directory of the git repo
GIT_ROOT=$(git rev-parse --show-toplevel)

# mainly for debugging starship config changes before running nixos-rebuild
STARSHIP_CONFIG="${GIT_ROOT}/misc/starship.toml"
export GIT_ROOT STARSHIP_CONFIG

# make utility scripts at ./bin directory available via direnv
export PATH="${PATH}:${PWD}/bin"
